@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("./fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
}

.fontMon {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
}

body {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("./fonts/georgia.woff") format("woff");
}

select {
  background: white;
}

/* Ubah ukuran bullet */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

ol,
li {
  list-style-type: decimal;
  list-style-position: inside;
}

@media (min-width: 320px) and (max-width: 400px) {
  .scale-slide {
    transform: scale(0.85);
  }
}

@media (min-width: 401px) {
  .scale-slide {
    transform: scale(1); /* Normal */
  }
}
