@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("./fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
}

.fontMon {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
}

body {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("./fonts/georgia.woff") format("woff");
}

select {
  background: white;
}

/* Ubah ukuran bullet */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

/* Ubah warna bullet */
.swiper-pagination-bullet {
  background-color: #000000; /* Warna default bullet */
}

/* Ubah warna bullet saat aktif */
.swiper-pagination-bullet-active {
  background-color: #ff4500; /* Warna bullet aktif */
}
